.background_video_container {
    z-index: -1000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background_video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}