/* ***** FRONT PAGE * **** */

.microbe_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.additional_element {
    position: fixed;
}

.bacteria_growth {
    position: fixed;
    width: 28vw;
}

.crazy_dots {
    position: fixed;
    width: 12vw;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.purple_sun {
    position: fixed;
    width: 15vw;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.stretching_cubes {
    position: fixed;
    width: 15vw;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.microbe_link {
    width: 25vw;
    position: absolute;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.littleToi {
    width: 10vw;
    position: absolute;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.george {
    position: absolute;
    width: 20vw;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}

.about_link {
    width: 10vw;
    height: 10vw;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.56));
}
